USE [master]
GO
/****** Object:  Database [DAI-TP_PERSONAJES]    Script Date: 3/5/2023 10:04:10 ******/
CREATE DATABASE [DAI-TP_PERSONAJES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAI-TP_PERSONAJES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-TP_PERSONAJES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAI-TP_PERSONAJES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-TP_PERSONAJES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI-TP_PERSONAJES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI-TP_PERSONAJES]
GO
/****** Object:  User [alumno]    Script Date: 3/5/2023 10:04:10 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Peli_Serie]    Script Date: 3/5/2023 10:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peli_Serie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](250) NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Calificacion] [int] NOT NULL,
 CONSTRAINT [PK_Peli_Serie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 3/5/2023 10:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](250) NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [int] NOT NULL,
	[Historia] [varchar](300) NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje_PeliSerie]    Script Date: 3/5/2023 10:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje_PeliSerie](
	[fk_IdPersonaje] [int] NOT NULL,
	[fk_IdPeliSerie] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Peli_Serie] ON 

INSERT [dbo].[Peli_Serie] ([Id], [Imagen], [Titulo], [Fecha_Creacion], [Calificacion]) VALUES (2, NULL, N'La bella durmiente', CAST(N'1959-07-09' AS Date), 4)
INSERT [dbo].[Peli_Serie] ([Id], [Imagen], [Titulo], [Fecha_Creacion], [Calificacion]) VALUES (6, NULL, N'La sirenita', CAST(N'1989-12-07' AS Date), 7)
INSERT [dbo].[Peli_Serie] ([Id], [Imagen], [Titulo], [Fecha_Creacion], [Calificacion]) VALUES (7, NULL, N'La princesa y el sapo', CAST(N'2010-10-01' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Peli_Serie] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (1, NULL, N'Bella', 17, 55, N'Una chica inteligente que se enamora de Bestia')
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (2, NULL, N'Bestia', 20, 90, N'Un principe emburjado que se enamora de Bella')
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (3, NULL, N'Aurora', 16, 55, N'Una princesa hechizada por una bruja, cuyo hechizo solo se rompe con el beso de Phillip')
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
INSERT [dbo].[Personaje_PeliSerie] ([fk_IdPersonaje], [fk_IdPeliSerie]) VALUES (8, 6)
INSERT [dbo].[Personaje_PeliSerie] ([fk_IdPersonaje], [fk_IdPeliSerie]) VALUES (9, 6)
INSERT [dbo].[Personaje_PeliSerie] ([fk_IdPersonaje], [fk_IdPeliSerie]) VALUES (1, 8)
GO
ALTER TABLE [dbo].[Personaje_PeliSerie]  WITH CHECK ADD  CONSTRAINT [FK_Personaje_PeliSerie_Peli_Serie] FOREIGN KEY([fk_IdPeliSerie])
REFERENCES [dbo].[Peli_Serie] ([Id])
GO
ALTER TABLE [dbo].[Personaje_PeliSerie] CHECK CONSTRAINT [FK_Personaje_PeliSerie_Peli_Serie]
GO
ALTER TABLE [dbo].[Personaje_PeliSerie]  WITH CHECK ADD  CONSTRAINT [FK_Personaje_PeliSerie_Personaje] FOREIGN KEY([fk_IdPersonaje])
REFERENCES [dbo].[Personaje] ([Id])
GO
ALTER TABLE [dbo].[Personaje_PeliSerie] CHECK CONSTRAINT [FK_Personaje_PeliSerie_Personaje]
GO
USE [master]
GO
