USE [master]
GO
/****** Object:  Database [DAI-TP_PERSONAJES]    Script Date: 20/4/2023 12:08:53 ******/
CREATE DATABASE [DAI-TP_PERSONAJES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAI-TP_PERSONAJES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-TP_PERSONAJES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAI-TP_PERSONAJES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-TP_PERSONAJES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI-TP_PERSONAJES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI-TP_PERSONAJES]
GO
/****** Object:  User [alumno]    Script Date: 20/4/2023 12:08:53 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Peli_Serie]    Script Date: 20/4/2023 12:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peli_Serie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](250) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Calificacion] [int] NOT NULL,
	[Fk_Personajes_Asociados] [int] NOT NULL,
 CONSTRAINT [PK_Peli_Serie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 20/4/2023 12:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](250) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [int] NOT NULL,
	[Historia] [varchar](300) NOT NULL,
	[Fk_Peliculas_Series] [int] NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Peli_Serie]  WITH CHECK ADD  CONSTRAINT [FK_Peli_Serie_Personaje] FOREIGN KEY([Fk_Personajes_Asociados])
REFERENCES [dbo].[Personaje] ([Id])
GO
ALTER TABLE [dbo].[Peli_Serie] CHECK CONSTRAINT [FK_Peli_Serie_Personaje]
GO
ALTER TABLE [dbo].[Personaje]  WITH CHECK ADD  CONSTRAINT [FK_Personaje_Peli_Serie] FOREIGN KEY([Fk_Peliculas_Series])
REFERENCES [dbo].[Peli_Serie] ([Id])
GO
ALTER TABLE [dbo].[Personaje] CHECK CONSTRAINT [FK_Personaje_Peli_Serie]
GO
USE [master]
GO
